<form action="/productos" method="post">
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="price" placeholder="Price" />
    <input type="text" name="thumbnail" placeholder="Thumbnail" />
    <button>Guardar producto</button>
</form>

<a href="/productos"><button>Ver Productos</button></a>